<div class="container-fluid d-flex justify-content-lg-end justify-content-sm-center">

    <form class="form-inline" id="formSearchFilter">
      <label class="my-1 mr-2" for="filterSelectListingType">Listing Type:</label>
      <!-- TODO: Store somewhere, can be customized by business -->
      <select class="custom-select my-1 mr-sm-2" id="filterSelectListingType">
        <option selected>Choose...</option>
        <option value="1">House</option>
        <option value="2">Apartments</option>
        <option value="3">Condominiums</option>
      </select>
      <!-- TODO: Store somewhere, can be customized by business -->
      <select class="custom-select my-1 mr-sm-2" id="filterSelectTransactionType">
        <option value="1">For Sale</option>
        <option value="2">For Rent</option>        
      </select>
    
      <button type="submit" class="btn btn-light my-1 mr-sm-2">Submit</button>
    </form>
  </div>