.card {
  /* min-width: 550px; */
  min-width: 300px;
  width: 550px;
/*   margin: 20px;
 */}

.card-img-top {
  height: 270px;
  object-fit: cover;
}

.card-title {
  font-size: 14px;
  color: gray;
}

.list-group-item {
  font-size: 12px;
}

.card-footer {
  background-color: transparent;
  font-size: 12px;
}

.card-footer a {
  color: gray;
  text-decoration: underline;
}

